/* Aluno: Luiz Carlos Silva Freire */
p{
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
}

body{
    background-color: rgb(255, 255, 255);

}
h1{
    color: rgb(8, 8, 8);
    font-size: x-large;
    font-family: 'Times New Roman', Times, serif;

}
h2{
    color: aliceblue(8, 8, 8);
    font-size: large;
    font-family: 'Times New Roman', Times, serif;
}
h3{
    color: aliceblue(8, 8, 8);
    font-size: large;
    font-family: 'Times New Roman', Times, serif;

}
h4{
    color: aliceblue(8, 8, 8);
    font-size: large;
    font-family: 'Times New Roman', Times, serif;
}
figcaption{
    font-size: small;
}